__pycache__/
*.py[cod]

# Directories
.idea
.cache
dictrainer/media/*
dictrainer/static/*

# Config files except example
dictrainer/config/*.yml
!dictrainer/config/example.yml
ci/docker/dictrainer-config.yml

# Sphinx built documentation
docs/_build/
docs/api_docs.md

# Translations
*.mo
